In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\Hifedolapo\Desktop\supermarket\supermarket_sales - Sheet1.csv")

In [4]:
df.head()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,R1C1,Yangon,Customer,Health and beauty,67.99,7.0,7,NaN,23.8%,$475.93,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Electronic \naccessories,15.28,5.0,5,NaN,3.8%,$76.40,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Home and lifestyle,46.33,7.0,7,NaN,16.2%,$324.31,3/3/2019,1:23:00 PM,Credit card,324.31,NaN,16.2155,7.4
3,123-19-1176,A,Yangon,Customer,Health and beauty,58.22,8.0,8,NaN,23.3%,$465.76,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Sports and travel,86.31,7.0,7,NaN,30.2%,$604.17,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
df.tail()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
997,727-02-1313,A,Yangon,Customer,Food and beverages,31.84,1.0,1,NaN,1.6%,$31.84,2/9/2019,1:22:00 PM,Cash,31.84,4.761905,1.592,7.7
998,347-56-2442,A,Yangon,Normal,Home and lifestyle,65.82,1.0,1,NaN,3.3%,$65.82,2/22/2019,3:33:00 PM,Cash,65.82,4.761905,3.291,4.1
999,849-09-3807,A,Yangon,Customer,Fashion accessories,88.34,7.0,7,NaN,30.9%,$618.38,2/18/2019,1:28:00 PM,Cash,618.38,4.761905,30.919,6.6
1000,NaN,NaN,NaN,NaN,NaN,55665.43,NaN,NaN,NaN,NaN,$-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R1C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Product line             1000 non-null   object
 5   Unit price               1001 non-null   float64
 6   Quantity                 1000 non-null   float64
 7   Review Quantity          1001 non-null   object
 8   Check                    0 non-null      float64
 9   Tax 5%                   1000 non-null   object
 10   Total                   1001 non-null   object
 11  Date                     1000 non-null   object
 12  Time                     1000 non-null   object
 13  Payment                  1000 non-null   object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  998 non-null    float64
 16  gross income             1000 non-null   float64
 17  Rating                   1000 non-null   float64
dtypes: float64(7), object(11)
memory usage: 141.0+ KB
None

In [7]:
df.isnull().sum()

Invoice ID                    2
Branch                        2
City                          2
Customer type                 2
Product line                  2
Unit price                    1
Quantity                      2
Review Quantity               1
Check                      1002
Tax 5%                        2
 Total                        1
Date                          2
Time                          2
Payment                       2
cogs                          2
gross margin percentage       4
gross income                  2
Rating                        2
dtype: int64

In [8]:
df["Check"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
997    NaN
998    NaN
999    NaN
1000   NaN
1001   NaN
Name: Check, Length: 1002, dtype: float64

In [9]:
df['Quantity'].mean()

5.51

In [10]:
df['Quantity']= df['Quantity'].fillna(df['Quantity'].mean())

In [11]:
df["Quantity"].unique()

array([ 7.  ,  5.  ,  8.  ,  6.  , 10.  ,  2.  ,  3.  ,  4.  ,  1.  ,
        9.  ,  5.51])

In [12]:

print(df.isnull().sum())

Invoice ID                    2
Branch                        2
City                          2
Customer type                 2
Product line                  2
Unit price                    1
Quantity                      0
Review Quantity               1
Check                      1002
Tax 5%                        2
 Total                        1
Date                          2
Time                          2
Payment                       2
cogs                          2
gross margin percentage       4
gross income                  2
Rating                        2
dtype: int64

In [13]:
print(df.describe())

        Unit price     Quantity  Check        cogs  gross margin percentage  \
count   1001.00000  1002.000000    0.0  1000.00000             9.980000e+02
mean     111.21964     5.510000    NaN   307.58738             4.761905e+00
std     1757.85597     2.920509    NaN   234.17651             6.131504e-14
min       10.08000     1.000000    NaN    10.17000             4.761905e+00
25%       32.90000     3.000000    NaN   118.49750             4.761905e+00
50%       55.39000     5.000000    NaN   241.76000             4.761905e+00
75%       77.95000     8.000000    NaN   448.90500             4.761905e+00
max    55665.43000    10.000000    NaN   993.00000             4.761905e+00

       gross income      Rating
count   1000.000000  1000.00000
mean      15.379369     6.97270
std       11.708825     1.71858
min        0.508500     4.00000
25%        5.924875     5.50000
50%       12.088000     7.00000
75%       22.445250     8.50000
max       49.650000    10.00000

### Solutions to questions

In [15]:
average_price = df.groupby('Product line')['Unit price'].mean()
average_price

Product line
Electronic \naccessories    15.280000
Electronic accessories      53.778047
Fashion accessories         57.153652
Food and beverages          56.008851
Health and beauty           54.810395
Home and lifestyle          55.316937
Sports and travel           56.993253
Name: Unit price, dtype: float64